@import "./styles/index.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto");
}

body {
    background: #ffffff;
    font-family: "Roboto";
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 0;
  }

  