@import "./styles/index.scss";

body {
    background: #e5e7eb;
}

.app {
    width: 80%;
    height: 100vh;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
